@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root {
    --bodyBgColor : #292929;
    --padding : .75rem;
    --bigPadding : calc(3 * var(--padding));
    --borderRadius : 3.4rem;
    --breakpoint : 1200px;
    --iconSize: 1.3rem;
    /* Colors */
    --textWhite : #FFFFFF;
    --textBlack : #000000;
    --bgGreen : #D0FF94;
    --bgDarkGreen : #021F23;
    --bgPurple : #290038;
    --bgYellow : #FFF480;
}

/* On breakpoint */
@media (max-width: 1200px) {
    :root {
        --bigPadding : calc(2 * var(--padding));
    }
}

*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--bodyBgColor);
    min-height: 100vh !important;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    padding-right: 15px;
}

#pageContainer {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-right: 15px;
    /* scroll-snap-type: y mandatory; */
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    display: noneI;
}

.button {
    cursor: pointer;
    border-radius: var(--borderRadius);
    padding: var(--bigPadding);
    background-color: var(--bgYellow);
    font-size: 3vmin;
    color: var(--textBlack);
    text-decoration: none;
    outline: none;
    transition: .4s ease;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.button:hover {
    transform: scale(0.95);
}
@media (max-width: 600px) {
    .button {
        font-size: 6vmin;
    }
}



/* Containers */

.containerFluid {
    width: 100% !important;
    padding:  calc(2 * var(--padding)) var(--padding);
    /* scroll-snap-align: start; */
}
.containerFluid.h-100 {
    min-height: 100vh;
}
.containerFluidCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

#pageTabs {
    display: flex;
    position: fixed;
    opacity: 0;
    right: 10px;
    top: 50%;
    transform: translate(0, -50%);
    flex-direction: column;
    gap: var(--padding);
    z-index: 200;
    transition: all .4s ease;
}
#pageTabs > span {
    width: 10px;
    height: 10px;
    background-color: #1B1B1F;
    border-radius: 50%;
    cursor: pointer;
}
#pageTabs > span.active {
    width: 10px;
    height: 10px;
    background-color: var(--textWhite);
    border-radius: 50%;
}


/* Landing page */

.landingPageContainer {
    min-height: 100vh !important;
    display: flex;
    flex-direction: column;
    gap: var(--padding);
}
.landingPageContainer > div:nth-child(1) {
    padding: 0;
    height: calc(40vh - (var(--padding) * 3));
    gap: var(--padding);
    position: relative;
}
#landingPageLogo {
    position: absolute;
    bottom: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.buttonGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 100%;
    height: calc(60vh - (var(--padding) * 1.5));
    gap: var(--padding) var(--padding);
    transition: 1s;
}
.buttonGridButton {
    position: relative;
    border-radius: var(--borderRadius);
    padding: var(--bigPadding);
    display: flex;
    flex-direction: column;
    gap: var(--padding);
    justify-content: flex-end;
    font-weight: 625;
    transition: 0.4s ease;
}
.buttonGridButton:hover {
    cursor: pointer;
    transform: scale(.95);
}
.buttonGridButton:hover > .buttonFooter {
    transform: translate(0, 90%);
    opacity: .4;
}
.buttonHoverCard {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 3vmin;
    opacity: 0;
    transition: .2s ease;
}
.buttonGridButton:hover > .buttonHoverCard {
    opacity: 1;
}
.buttonGridButton > .buttonFooter {
    display: flex;
    flex-direction: row;
    gap: var(--padding);
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    transition: 0.15s ease;
}
.buttonFooterIcon {
    width: var(--iconSize);
    height: var(--iconSize);
}
.buttonGridButton:nth-child(1) {
    grid-area: 1 / 1 / 3 / 3; 
    background-color: var(--bgDarkGreen);
    color: #78F3E2;
}
.buttonGridButton:nth-child(2) {
    grid-area: 1 / 3 / 2 / 4; 
    background-color: var(--bgYellow);
    color: var(--textBlack);
}
.buttonGridButton:nth-child(3) {
    grid-area: 1 / 4 / 2 / 5;
    background-color: var(--bgPurple);
    color: #FCD6FF;
}
.buttonGridButton:nth-child(4) {
    grid-area: 2 / 3 / 3 / 5;
    background-color: #1B1B1F;
    color: var(--textWhite);
}
/* On breakpoint */
@media (max-width: 1200px) {
    .buttonGrid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
    .buttonGridButton {
        justify-content: center;
        padding: calc(2.5*var(--padding)) var(--bigPadding);
    }
    .buttonGridButton > .buttonFooter {
        font-size: 4vmin;
    }
    .buttonHoverCard {
        font-size: 3vmin;
    }
    .buttonGridButton:nth-child(1) {
        grid-area: 1 / 1 / 3 / 3;
    }
    .buttonGridButton:nth-child(2) {
        grid-area: 3 / 1 / 4 / 2;
    }
    .buttonGridButton:nth-child(3) {
        grid-area: 3 / 2 / 4 / 3;
    }
    .buttonGridButton:nth-child(4) {
        grid-area: 4 / 1 / 5 / 3;
    }
}



/* Work */

#work {
    display: flex;
    flex-direction: column;
    gap: var(--padding);
}
.workCard {
    width: 100%;
    padding: var(--bigPadding);
    border-radius: var(--borderRadius);
    display: flex;
    flex-direction: column;
    gap: var(--padding);
}
.workCardContent {
    display: flex;
    flex-direction: row;
    gap: var(--padding);
}
.workCardContent > .workImgContainer {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    width: 40%;
    aspect-ratio: 1/1;
    border-radius: calc(var(--padding) * 1.5);
}
.workCard:nth-child(1) {background-color: #A5A1FF; color: var(--textBlack);}
.workCard:nth-child(2) {background-color: #CBE5FF; color: var(--textBlack);}
.workCard:nth-child(3) {background-color: #011D32; color: var(--textWhite);}
.workCard:nth-child(4) {background-color: #4EC9B0; color: var(--textBlack);}
.workCardContent > .workImgContainer:nth-child(1) {
    background-image: url("https://firebasestorage.googleapis.com/v0/b/portfolio-d4e35.appspot.com/o/ui.jpg?alt=media&token=e75a49ad-9796-40b9-a395-8cbd7521bce6");
    /* background-image: url("http://localhost/portfolio/public/sources/ui.jpg"); */
}



/* About */

#about {
    display: flex;
    flex-direction: column;
    gap: var(--padding);
}
.aboutCardContainer {
    display: flex;
    flex-direction: row;
    gap: var(--padding);
    width: 100%;
    flex-wrap: nowrap;
    font-size: 1.2rem;
    padding: var(--padding);
    background-color: #0f0f0f;
    border-radius: calc(var(--borderRadius) / 1.5);
}
.aboutCardContainer:nth-child(even){
    flex-direction: row-reverse;
}
.aboutCard {
    background-color: #1B1B1F;
    border-radius: var(--borderRadius);
    padding: var(--bigPadding);
    white-space: nowrap;
    width: fit-content;
}
.aboutCardContainer > .pdp {
    cursor: pointer;
    transition: .4s ease;
    border-radius: 50%;
    width: auto;
    aspect-ratio: 1/1;
    filter: blur(1px) grayscale(1);
}
.aboutCardContainer > .pdp:hover {
    filter: blur(0px) grayscale(0);
}
/* On breakpoint */
@media (max-width: 550px) {
    .aboutCardContainer {
        flex-direction: column;
    }
    .aboutCardContainer:nth-child(even):not(:nth-child(1)){
        flex-direction: column;
    }
    .aboutCard {
        width: 100%;
        white-space: wrap;
    }
}
@media (max-width: 850px) {
    .aboutCardContainer:nth-child(1){
        flex-direction: column;
    }
}
@media (max-width: 550px) {
    .aboutCardContainer > .pdp {
        filter: blur(0px) grayscale(0);
    }
}



/* Code */

.angusFunction {font-size: 4vmin;}
.codeLine {margin: 0;}
.codeTab {margin-left: 40px;}
.codeTab-2 {margin-left: 80px;}
.textYellow{color:#dcdcaa}
.textDarkYellow{color: #ffd700;}
.textBlue{color:#569cd6;}
.textLightBlue{color:#9cdcfe;}
.textPurple{color: #da70d6;}
.textBrown{color: #ce9178;}
.textGreen{color: #b5cea8;}
.textDarkGreen{color: #4ec9b0;}



/* My experience */

.timeline {
    position: relative;
    margin-left:  15px;
}
.timeline::after {
    content: " ";
    position: absolute;
    width: 6px;
    top: 25px;
    bottom: 0;
    left: 0;
    margin-left: -3px;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 66%,  var(--bodyBgColor) 95%);
}
.experience {
    padding: var(--padding) var(--padding) var(--padding) 40px;
    position: relative;
    background-color: inherit;
    width: auto;
}
.experience::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid var(--bgYellow);
    top: 7px;
    border-radius: 50%;
    z-index: 1;
}
.experience::before {
    content: " ";
    height: 0;
    position: absolute;
    top: calc(var(--padding) + 5px);
    width: 0;
    z-index: 1;
    left: 31px;
    border: medium solid #0f0f0f;
    border-width: 10px 10px 10px 0;
    border-color: transparent #0f0f0f transparent transparent;
}
.experience::after {
    left: -16px;
}
.content {
    border: none;
    padding: 20px 30px;
    background-color: #0f0f0f;
    position: relative;
    border-radius: 5px calc(var(--borderRadius) / 1.5) calc(var(--borderRadius) / 1.5) calc(var(--borderRadius) / 1.5);
}
  
@media screen and (max-width: 600px) {
}


/* Contact */

#contact {
    display: flex;
    flex-direction: column;
    gap: var(--bigPadding);
    height: 70vh;
}
#contact .workCard {
    width: 100%;
}
.contactForm {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    min-height: calc(60vh - (var(--padding) * 1.5));
    gap: var(--padding) var(--padding);
    width: 100%;
    height: 100%;
}
.formTitle {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contactForm > .contactInput {
    border-radius: var(--borderRadius);
    background-color: #1B1B1F;
    border: 1px solid var(--textBlack);
    color: var(--textWhite);
    resize: none;
    padding: var(--bigPadding);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    width: 100%;
    min-height: 100%;
}
.contactForm > .contactInput:not(button):focus {
    outline: none;
    border: 1px solid #FFF480;
}
.contactForm > .contactInput:nth-child(1) {
    grid-area: 1 / 1 / 2 / 3; 
}
.contactForm > .contactInput:nth-child(2) {
    grid-area: 1 / 3 / 2 / 5; 
}
.contactForm > .contactInput:nth-child(3) {
    grid-area: 1 / 5 / 2 / 7; 
}
.contactForm > .contactInput:nth-child(4) {
    grid-area: 2 / 1 / 4 / 5; 
}
.contactForm > .contactInput:nth-child(5) {
    grid-area: 3 / 5 / 4 / 7;
    background-color: #FFF480;
    padding: var(--bigPadding);
    cursor: pointer;
    transition: all .4s;
    height: 100%;
}
.contactForm > .contactInput:nth-child(5):hover {
    transform: scale(.98);
}
.contactForm > .contactInput:nth-child(5) >svg {
    color: #1B1B1F;
    width: 100%;
    height: 100%;
}
#formError {
    grid-area: 2 / 5 / 3 / 7;
    background-color: #F8D7DA;
    border: 1px solid #B02A37;
    color: #B02A37;
    border-radius: var(--borderRadius);
    position: relative;
    font-size: 4vmin;
    display: none;
}
#formError > div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
/* On breakpoint */
@media (max-width: 900px) {
    .contactForm {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(7, 1fr);
    }
    .contactForm > .contactInput:nth-child(1) {
        grid-area: 1 / 1 / 2 / 2; 
    }
    .contactForm > .contactInput:nth-child(2) {
        grid-area: 1 / 2 / 2 / 3; 
    }
    .contactForm > .contactInput:nth-child(3) {
        grid-area: 2 / 1 / 3 / 3; 
    }
    .contactForm > .contactInput:nth-child(4) {
        grid-area: 3 / 1 / 6 / 3; 
    }
    .contactForm > .contactInput:nth-child(5) {
        grid-area: 7 / 1 / 8 / 3; 
        padding: calc(1.5 * var(--padding));
    }
    .contactForm > .contactInput:nth-child(5) >svg {
        width: 5vmin;
        height: 5vmin;
    }
    #formError {
        grid-area: 6 / 1 / 7 / 3;
    }
}
/* On breakpoint */
@media (max-width: 450px) {
    .contactForm {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(7, 1fr);
    }
    .contactForm > .contactInput:nth-child(1) {
        grid-area: 1 / 1 / 2 / 3; 
    }
    .contactForm > .contactInput:nth-child(2) {
        grid-area: 2 / 1 / 2 / 3; 
    }
    .contactForm > .contactInput:nth-child(3) {
        grid-area: 3 / 1 / 4 / 3; 
    }
    .contactForm > .contactInput:nth-child(4) {
        grid-area: 4 / 1 / 7 / 3; 
    }
    .contactForm > .contactInput:nth-child(5) {
        grid-area: 7 / 1 / 8 / 3; 
        padding: calc(1.5 * var(--padding));
    }
    .contactForm > .contactInput:nth-child(5) >svg {
        width: 5vmin;
        height: 5vmin;
    }
}